html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}

#container {
	background-color: rgb(113, 172, 255);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35);
}

#container > button {
	padding: 0.3rem 1.2rem;
	margin: 1rem 0;
	cursor: pointer;
	border: none;
	border-radius: 1rem;
	transition: 0.15s ease-in-out;
	box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.634);
	scale: 1.2;
	font-size: 0.8rem;
}
#container > button:hover {
	scale: 1.1;
}

#p1,
#p2 {
	margin: 1rem 0;
	padding: 0.5rem 0;
	min-height: 2rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 1.5rem;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35);
}
#p1 {
	background-color: bisque;
}
#p2 {
	background-color: rgb(252, 207, 153);
}
